{% extends 'notes/layout.html' %}

{% block content %}
    <h1>Все задачи</h1>
    <table>
      <thead>
      <tr>
          <td>Title</td>
          <td>Created</td>
          <td>Author</td>
          <td>Status</td>
      </tr>
      </thead>
      <tbody>
      {% if task_list %}
      {% for t in task_list %}
      <tr>
        <td><a href="{% url 'task-detail' t.pk %}">{{ t.title }}</a></td>
        <td>{{ t.created|date }}</td>
        <td>{{ t.user }}</td>
        <td>{{ t.closed|yesno:"Закрыт, Открыт" }}</td>
      </tr>
      {% empty %}
      <tr>
          <td colspan=4>Нет задач.</td>
      </tr>
      {% endfor %}
      </tbody>
      {% endif %}
  </table>

    
 
{% endblock %}