{% extends 'notes/layout.html' %}

{% block content %}
<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptate, similique quaerat incidunt nulla 
  beatae id dolore molestias saepe cum consequuntur commodi facilis placeat suscipit soluta repudiandae officiis sint numquam?</h1>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptate, similique quaerat incidunt nulla 
    beatae id dolore molestias saepe cum consequuntur commodi facilis placeat suscipit soluta repudiandae officiis sint numquam?</p>

<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptate, similique quaerat incidunt nulla 
  beatae id dolore molestias saepe cum consequuntur commodi facilis placeat suscipit soluta repudiandae officiis sint numquam?</h2>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptate, similique quaerat incidunt nulla 
    beatae id dolore molestias saepe cum consequuntur commodi facilis placeat suscipit soluta repudiandae officiis sint numquam?</p>
  <ul>
    
  </ul>
{% endblock content %}