{% extends 'notes/layout.html' %}

{% block content %}
    <h1>Список задач</h1>
      {% if note_list %}
      <ul>

        {% for note in note_list %}
        <li>
          <a href="{{ note.get_absolute_url }}">{{ note.title }}</a> ({{note.user}})
        </li>
        {% endfor %}

      </ul>
      {% else %}
      <p>Нет задач</p>
      {% endif %}
      {% if perms.notes.can_mark_returned %}
      <li><a href="{% url 'note-create' %}">Создать задачу</a></li>
      {% endif %}
{% endblock %}