{% extends 'notes/layout.html' %}

{% block content %}
<h1>Title: {{ note.title }}</h1>
<p><strong>Пользователь:</strong> <a href="">{{ note.user }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Текст:</strong> {{ note.textarea }}</p>
  <p><strong>Тэг:</strong> {% for tags in note.tags.all %} {{ tags }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Кому передано</h4>

    {% for copy in note.noteinstance_set.all %}
    <hr>
    <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'd' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
    {% if copy.status != 'a' %}<p><strong>Статус заявки:</strong> {{copy.due_back}}</p>{% endif %}
    <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
    {% endfor %}
  </div>
{% endblock content %}