{% extends 'notes/layout.html' %}

{% block content %}
<h1>Title: {{ note.title }}</h1>
<p><strong>Пользователь:</strong> <a href="">{{ note.user }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Текст:</strong> {{ note.textarea }}</p>
  <p><strong>Тэг:</strong> {% for tags in note.tags.all %} {{ tags }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
  {% if perms.notes.can_mark_returned %}
    <li><a href="{% url 'note-update' note.id %}">Редактировать</a></li>
    <li><a href="{% url 'note-delete' note.id %}">Удалить</a></li>
  {% endif %}
  <div style="margin-left:20px;margin-top:20px">
    <h4>Кому передано</h4>

    {% for copy in note.noteinstance_set.all %}
    <p>Выполняет: {{ copy.responsible }}</p>
    <hr>
    <p class="{% if copy.status == 'В работе' %}text-success{% elif copy.status == 'Отложено' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
    {% if copy.status != 'Отложено' %}<p><strong>Сделать до:</strong> {{copy.must_do}}</p>{% endif %}
    <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
    {% endfor %}
  </div>
{% endblock content %}